.wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid seagreen;
  /* padding: 27px; */
}

.wrapper > * {
  width: 100%;
  /* height: 100vh; */
}

@media screen and (min-width: 968px) {
  .wrapper > :nth-child(1) {
    width: 240px;
  }
  .wrapper > :nth-child(2) {
    width: auto;
    flex-grow: 1;
  }
}

/* .mainMenu {
  background-color: pink;
} */

.main {
  background-color: powderblue;
}
